<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- internal css -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />
    <title>GA Acccident Analysis</title>
  </head>
  <body>
      <section class="header">        
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">                    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#" id="icon">G7</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Regression<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/classification">Classifiaction</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/references">References</a>
                </li>
              </ul>
            </div>
          </nav>   
        </div>
      </section>

      <section class="popvsacc">
        <div class="container">
            <h2>Predicting Acccidents</h2>
            <h5>
              Can we really predict number of accidents in City / County by population? Following are few take-aways from this exercise.
              <br>
              <br>              
              <ul>
                <li><strong>Outliers</strong></li>
              </ul>
              <ul>
                <li><strong>Data - More is Good</strong></li>
              </ul>
              <ul>
                <li><strong>Other aspects </strong></li>
              </ul>
            </h5>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">US-Cities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">US-Counties</a>
              </li>             
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="col col-lg-12">
                  <div id="scatterPlotGA">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col col-lg-12">
                  <div id="scatterPlotUS">
                  </div>
                </div>
              </div>              
            </div>
        </div>
      </section>

      <div class="container">
        <hr>
      </div>

      <section class="violine">
        <div class="container">
          <div>
            <select id="selectFilters" class="browser-default custom-select">
              <option value="accidents">Accidents</option>                                   
              <option value="population">Population</option>
            </select>                    
          </div>          
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-violine" role="tab" aria-controls="home" aria-selected="true">US-Cities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-violine" role="tab" aria-controls="profile" aria-selected="false">US-Counties</a>
            </li>             
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-violine" role="tabpanel" aria-labelledby="home-tab">
              <div class="col col-lg-12">
                <div id="violinePlotGA">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile-violine" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col col-lg-12">
                <div id="violinePlotUS">
                </div>
              </div>
            </div>              
          </div>
        </div>
      </section>

      <div class="container">
        <hr>
        <br>
        <br>
        <br>
      </div>

      <section class="model">
        <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-model" role="tab" aria-controls="home" aria-selected="true">US-Cities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-model" role="tab" aria-controls="profile" aria-selected="false">US-Counties</a>
            </li>             
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-model" role="tabpanel" aria-labelledby="home-tab">
              
              <div class="col col-lg-12">       
                <div style="padding-top: 4%;" > 
                  <a style="padding-left: 3%;" href="https://colab.research.google.com/drive/1COrR-m5k8eVPTgRthDFGAfUChZXRHsde"> Click to access Jupyter Notebook </a>
                </div>                            
                  <img style="padding-top: 2%;" src="static/img/us_city_load_Data.PNG" />
                  <img src="static/img/us_city_scatter.PNG" />          
                  <img src="static/img/us_city_scale_data.PNG" />                     
                  <img src="static/img/us_city_liner_regression1.PNG" />
                  <img src="static/img/us_city_liner_regression2.PNG" />                  
                  <img src="static/img/us_city_lasso.PNG" />            
                  <img src="static/img/us_city_ridge.PNG" />            
                  <img src="static/img/us_city_elestics.PNG" />             
              </div>
            </div>
            <div class="tab-pane fade" id="profile-model" role="tabpanel" aria-labelledby="profile-tab">   
              <div style="padding-top: 4%;" > 
                <a style="padding-left: 4%;" href="https://colab.research.google.com/drive/1wFHiUKEwD6C80kUcbckhNabAu18LphKf"> Click to access Colab Notepad </a>
              </div>            
              <div class="col col-lg-12">
                  <img style="padding-top: 2%;" src="static/img/us_county_load_Data.PNG" />
                  <img src="static/img/us_county_scatter.PNG" />          
                  <img src="static/img/us_county_scale_data.PNG" />                     
                  <img src="static/img/us_county_liner_regression1.PNG" />
                  <img src="static/img/us_county_liner_regression2.PNG" />                  
                  <img src="static/img/us_county_lasso.PNG" />            
                  <img src="static/img/us_county_ridge.PNG" />            
                  <img src="static/img/us_county_elestics.PNG" /> 
              </div>
            </div>              
          </div>
      </div>
      </section>

      <section class="footer">
        <div class="container">
          <h6>Group 7 © No Copyrights whatsoever..We are happy if we are useful by anyway..Happy Coding!</h6>
        </div>
      </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
    <!--<script type="text/javascript" src="static/js/leaflet.extra-markers.min.js"></script>-->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <!-- Leaflet heatmap plugin-->
    <!--<script type="text/javascript" src="static/js/leaflet-heat.js"></script>-->
    <!-- API key -->
    <!--<script type="text/javascript" src="static/js/config.js"></script>-->

    <!-- D3 JS Files -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- https://stackoverflow.com/questions/24989128/why-is-my-d3-tip-not-working -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <script src="static/js/regressionMain.js"></script>
    <script src="static/js/scatterChartPlotly.js"></script>
    <script src="static/js/violinePlot.js"></script>

  </body>
</html>